.sidebarWrapper {
    width: 330px;
    height: calc(900px - 20px); /* full height - padding */
    overflow-y: scroll;
    z-index: 2;
    padding: 10px;
    background-color: #e7eaec;
    border: 1px solid black;
}
